@import url("./global.css");

body {
    background-color: var(--color-black);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav__header ul {
    display: flex;
    gap: 40px;
}

.nav__header-item {
    color: var(--color-grey);
    font-family: var(--font-title);
    font-size: var(--font-body3);
}

.btn__header {
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: 8px 24px;
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body3);
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;

    P {
        width: 546px;
    }
}



.section__indicator {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    color: var(--color-pink);
    border: 1px solid var(--color-d-gray);
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body4);
    font-weight: bold;
}



.content__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: var(--color-white);
    font-size: var(--font-h1);
    font-family: var(--font-title);
    width: 549px;
}

h1 span {
    color: var(--color-pink);
}

.container__btn-main {
    display: flex;
    gap: 20px;
}

.btn__primary {
    padding: 14px 24px;
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body2);
}

.btn__secondary {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    gap: 6px;
    border: 1.5px solid var(--color-d-gray);
    color: var(--color-white);
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body3);

}

.section__statistics {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 56px;
    background-color: var(--color-l-black);
}

.statistics__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.statistics__number {
    color: var(--color-pink);
    font-size: var(--font-h2);
    font-family: var(--font-title);
}

.section__destiny {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 0;

}

.content__destiny {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;

    p {
        width: 572px;
    }
}

.card__destiny {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 364px;
    background-color: var(--color-l-black);
    border-radius: 20px;
}

.card__destiny-informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.card__destiny-informations h3 {
    color: var(--color-white);
    font-family: var(--font-body);
    font-size: var(--font-h3);
    text-align: center;
}

.destiny__reviews {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destiny__reviews-stars {
    display: flex;
    gap: 5px;
}

.destiny__reviews-stars:hover {
    transform: scale(1.1);
}

.destiny__reviews p {
    font-size: var(--font-body4);
}

.destiny__details {
    display: flex;
    justify-content: space-between;
}

.destiny__details-duration {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destiny__details-duration p {
    font-size: var(--font-body4);
}

.destiny__card-price {
    font-family: var(--font-title);
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-h4);
}

.btn__book-now {
    background-color: var(--color-pink);
    padding: 10px 0px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: var(--font-body3);
}

.cards__destiny-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section__highlights {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-l-black);
    padding: 60px 0px;
}

.container__card-highlights {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card__highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 363px;
    background-color: var(--color-black);
    padding: 80px 35px;
    text-align: center;
    border-radius: 20px;
}

.card__highlights h3 {
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: var(--font-h4);
}

.section__testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 60px;
}

.container__reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card__review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-l-black);
    padding: 30px;
    border-radius: 20px;    
}

.user__review{
    display: flex;
    gap: 15px;
    align-items: center;
}

.user__review h3{
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: var(--font-h4);
}

.card__review p{
    color: var(--color-grey);
    font-size: var(--font-body4);
    width: 304px;
    font-weight: 500;
}