@import url("./global.css");

body {
    background-color: var(--color-black);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav__header ul {
    display: flex;
    gap: 40px;
}

.nav__header-item {
    color: var(--color-grey);
    font-family: var(--font-title);
    font-size: var(--font-body3);
}

.btn__header {
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: 8px 24px;
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body3);
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px;
  
    P{
        width: 546px;
    }
}



.section__indicator {
    display:flex;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    color: var(--color-pink);
    border: 1px solid var(--color-d-gray);
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body4);
    font-weight: bold;
}

.content__main {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

h1 {
    color: var(--color-white);
    font-size: var(--font-h1) ;
    font-family: var(--font-title) ;
    width: 549px;
}

h1 span {
    color: var(--color-pink);
}

.container__btn-main {
    display: flex;
    gap: 20px;
}

.btn__primary {
    padding: 14px 24px;
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body2);
}

.btn__secondary {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    gap: 6px;
    border: 1.5px solid var(--color-d-gray);
    color: var(--color-white);
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body3);

}

.section__statistics {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 56px;
    background-color: var(--color-l-black);
}

.statistics__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.statistics__number {
    color: var(--color-pink);
    font-size: var(--font-h2);
    font-family: var(--font-title);
}
