@import url("./global.css");

body {
    background-color: var(--color-black);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.nav__header ul {
    display: flex;
    gap: 40px;
}

.nav__header-item {
    color: var(--color-grey);
    font-family: var(--font-title);
    font-size: var(--font-body3);
}

.btn__header {
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: 8px 24px;
    border-radius: 10px;
    font-family: var(--font-title);
    font-size: var(--font-body3);
    font-weight: bold;
}
